
.leftcolumn { 
  padding-left: 20px;
  float: left;
  width: 70%;
}
.rightcolumn {
  float: right;
  width: 20%;
  padding-right: 20px;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.bold_bigger {
  font-size:20px;
  font-weight: bold;
}